.container
  .expectancy-area
    header
      h1 Imagine you lived in a different country and at a different time - what’s the life expectancy there, and how long could you expect to live?
      .loader.fa.fa-refresh(ng-class="{'active': loading}")
    expectancy-map(country-ref="activeCountryRef", country-rel="activeCountryRel")
    .country-selection
      label Life expectancy in
      .typeahead.ref
        input(
          type="text",
          placeholder="Country",
          ng-model="selectedCountryRef",
          typeahead="country for country in countries | filter: $viewValue",
          typeahead-wait-ms="100",
          typeahead-editable="false"
        )
      .icon.icon-vs
      label Life expectancy in
      .typeahead.rel
        input(
          type="text",
          placeholder="Country",
          ng-model="selectedCountryRel",
          typeahead="country for country in countries | filter: $viewValue",
          typeahead-wait-ms="100",
          typeahead-editable="false"
        )
    .time-slider
      time-slider
