.expectancy-area(ng-show="currentPage > -1")
  header
    h1 Imagine you lived in a different country... what would be your <span>life expectancy?</span>
  expectancy-map
  .country-selection
    label Life expectancy in
    angucomplete.ref(
      placeholder="Country",
      pause="100",
      selectedobject="selectedCountryRef",
      localdata="countries",
      searchfields="name",
      titlefield="name",
      minlength="1",
      inputclass="form-control"
    )
    .icon.icon-vs
    label Life expectancy in
    angucomplete.rel(
      placeholder="Country",
      pause="100",
      selectedobject="selectedCountryRel",
      localdata="countries",
      searchfields="name",
      titlefield="name",
      minlength="1",
      inputclass="form-control"
    )