.container
  .people-area
    header
      h1 Your rank in the world is: <span>{{ rankGlobal | number:0 }}</span> <span class="dot global"></span>; and </br> Your rank in <span>{{profile.country}}</span> is: <span>{{ rankLocal | number:0 }}</span> <span class="dot local"></span>
      .loader.fa.fa-refresh(ng-class="{'active': loading}")
    people-grid(
      rank-local="rankLocal",
      rank-local-total="rankLocalTotal"
      rank-global="rankGlobal",
      rank-global-total="rankGlobalTotal",
      is-updated="isUpdated"
    )