world-clock
  h3 <i class="icon icon-world"></i>Current world<br/>population clock
.container
  .stats-area
    .loader.fa.fa-refresh(ng-class="{'active': loading}")
    .question
      h1 What’s your place in the world’s population?
      p Let’s explore the journey of your life!<br/>What is your date of birth, country of birth and sex at birth?
      form.form-inline(name="goForm", novalidate)
        .icon.icon-birthday
          input.form-control(
            type="text",
            name="birthday",
            ng-value="profile.birthday",
            ng-model="profile.birthday"
            placeholder="Birthday",
            ng-pattern="/^((19|20)\\d\\d)-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/",
            birthday-picker,
            required
          )
        .typeahead
          input.form-control(
            type="text",
            placeholder="Country",
            ng-model="profile.country",
            typeahead="country for country in countries | filter: $viewValue",
            typeahead-wait-ms="100",
            typeahead-editable="false",
            required
          )
        .toggle
          label(class="icon icon-female", ng-model="profile.gender" btn-radio="'female'", required) Female
          label(class="icon icon-male", ng-model="profile.gender" btn-radio="'male'", required) Male
        button.btn.btn-big(
          ng-click="goGoGadget()",
          ng-disabled="goForm.$invalid || loading"
        )
