.container
  .stats-area
    world-clock
      h3 Current world<br/>population clock
    .question
      h1 What's your place in the world?
      p Demography is the study of human population. Let’s see how you fit in.<br/>What is your place and date of birth and gender?
    form.form-inline(name="goForm", novalidate)
      .icon.icon-birthday
        input.form-control(
          popover-placement="top",
          popover="Birthday (YYYY-MM-DD)",
          type="text",
          name="birthday",
          ng-model="profile.birthday"
          placeholder="Birthday (1987-11-30)",
          ng-pattern="/^((19|20)\\d\\d)-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/",
          required
        )
      .typeahead
        input.form-control(
          type="text",
          placeholder="Country",
          ng-model="profile.country",
          typeahead="country for country in countries | filter: $viewValue",
          typeahead-wait-ms="100",
          typeahead-editable="false",
          required
        )
      .toggle
        label(class="icon icon-female", ng-model="profile.gender" btn-radio="'female'", required) Female
        label(class="icon icon-male", ng-model="profile.gender" btn-radio="'male'", required) Male
      button.btn.btn-big(
        ng-click="goGoGadget()",
        ng-class="{'loading': loading}"
        ng-disabled="goForm.$invalid || loading"
      )
