footer
  .container
    .block
      h2.icon.icon-mail Keep me posted
      p Send me every year on my<br/>birthday an update!
      form.form-inline(name="emailForm", novalidate)
        input.form-control.input-dark(
          type="email",
          ng-model="email",
          placeholder="your@email.com",
          required
        )
        button.btn(
          type="button",
          ng-click="registerMail()",
          ng-disabled="emailForm.$invalid || sending"
        )
    .block
      h2.icon.icon-calendar Add your Date of Death<br/>to your calendar
      ul
        li
          a(ng-click="downloadICal()", data-ref="1") iCalendar

    .block.small
      h2 Share
      a.fa.fa-facebook(target="_blank", href="http://facebook.com/sharer.php?u=http://www.population.io") Facebook
      a.fa.fa-twitter(target="_blank", href="http://twitter.com/intent/tweet?text=Population.io%20http://www.population.io") Twiiter
      a.fa.fa-linkedin(target="_blank", href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.population.io&title=Population.io") LinkedIn
    .block.small
      h2 Want to know more?
      a(href="mailto:worldpopulationproject@gmail.com") Contact
      a(href="http://api.population.io", target="_blank") API