footer
    .container
        .block
            h2.icon.icon-mail {{ 'FOOTER_SIGNUP_TITLE' | translate }}
            p {{ 'FOOTER_SIGNUP_TXT' | translate }}
            form.form-inline(name="emailForm", novalidate)
                input.form-control.input-dark(
                type="email",
                ng-model="email",
                placeholder="your@email.com",
                required
                )
                button.btn(
                type="button",
                ng-click="registerMail()",
                ng-disabled="emailForm.$invalid || sending"
                )
        .block
            h2.icon.icon-calendar {{ 'FOOTER_ADD_TO_CALENDAR_TITLE' | translate }}
            ul
                li
                    a(ng-click="downloadICal()", data-ref="1") iCalendar

        .block.small
            h2 {{ 'FOOTER_SHARE_TITLE' | translate }}
            a(target="_blank", share="facebook", share-title="population.io") Facebook
                span.fa.fa-facebook-square
            a(target="_blank", share="twitter", share-title="population.io") Twitter
                span.fa.fa-twitter-square
            a(target="_blank", share="linkedin", share-title="population.io") LinkedIn
                span.fa.fa-linkedin-square

        .block.small
            h2 {{ 'FOOTER_MORE_TITLE' | translate }}
            a(href="mailto:worldpopulationproject@gmail.com") {{ 'FOOTER_MORE_CONTACT' | translate }}
            a(href="http://api.population.io", target="_blank") {{ 'FOOTER_MORE_API' | translate }}
